/* Don't highlight anything on click-and-drag. */
:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.test {
    border: 2px solid red;
}

.center {
    text-align: center;
}

.scoop {
    width: 200px;
    cursor: pointer;
    margin-bottom: 40px;
}

.title {
    font-weight: bold;
}

.header {
    border-bottom: 2px solid black;
    margin-bottom: 60px;
}

.money-total {
    font-family: 'Courier New', Courier, monospace;
    float: right;
}

.btn-buy {
    background-color: aquamarine;
}

.btn-buy:disabled {
    background-color: lightgray;
    color: gray;
}

.flavor-name {
    font-weight: bold;
    font-size: 2em;
}

.generator {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    margin: 20px 0;
    padding: 20px;
    width: 80%;
}

.generator-title {
    font-size: 2em;
    font-weight: 600;
}

.generator-locked {
    filter: blur(6px);
}

.flavor-locked {
    filter: blur(4px);
    filter: grayscale(100%);
}