/* Don't highlight anything on click-and-drag. */
:not(input):not(textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.test {
    border: 2px solid red;
}

.center {
    text-align: center;
}

.scoop {
    width: 200px;
    cursor: pointer;
}

.decimal {
    font-family: 'Courier New', Courier, monospace;
}

.btn-buy {
    background-color: aquamarine;
}

.btn-buy:disabled {
    background-color: lightgray;
    color: gray;
}

.generator {
    background-color: #eee;
    border: 1px solid black;
    border-radius: 40px;
    display: inline-block;
    margin: 20px 20px;
    padding: 20px;
    width: 40%;
}

.generator-title {
    font-size: 2em;
    font-weight: 600;
}

.generator-locked {
    filter: blur(6px);
}